.bodyGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "headerGrid" "mainGrid" "footerGrid"; }

.headerGrid {
  grid-area: headerGrid;
  z-index: 3;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid gainsboro; }
  .headerGrid .tipografiaTitulo {
    font-family: "Franklin Gothic Medium" "Arial Narrow" Arial sans-serif;
    color: black;
    margin-top: 1%; }
  .headerGrid .tipografiaSubtitulo {
    font-family: "Roboto" sans-serif;
    color: black;
    margin-left: 2%;
    margin-top: 1.6%; }
  .headerGrid .navbar-nav {
    border-left: 1px solid black;
    margin-top: 0.8%; }
    .headerGrid .navbar-nav .nav-link:hover {
      font-size: large;
      background-color: rgba(231, 200, 238, 0.536); }
    .headerGrid .navbar-nav .nav-link:visited {
      color: coral; }
  .headerGrid .logo1,
  .headerGrid .logo2 {
    padding: 0;
    width: 20%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15;
    animation: animacion-logos 10s  ease-in-out 0s infinite normal; }

@keyframes animacion-logos {
  0% {
    transform: rotateY(20deg); }
  25% {
    transform: rotateY(50deg); }
  50% {
    transform: rotateY(20deg); }
  75% {
    transform: rotateY(50deg); }
  100% {
    transform: rotateY(20deg); } }

.mainIndex {
  grid-area: mainGrid;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 0;
  background-image: url(../imagen/imagen-main.png); }
  .mainIndex .tituloDelParrafo {
    font-family: "Times New Roman" Times serif;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration-line: underline;
    color: #544d4d; }
  .mainIndex article {
    font-family: "Times New Roman" Times serif;
    color: black;
    font-size: 1.5rem;
    text-align: justify; }
  .mainIndex .horarios {
    text-align: center;
    animation: animacion-horarios 20s  ease-in-out 0s infinite normal; }

@keyframes animacion-horarios {
  0% {
    transform: scale(0.8); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  75% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
  .mainIndex article h3 {
    font-family: "Times New Roman" Times serif;
    font-size: larger;
    text-align: center;
    padding: 2rem;
    text-decoration: underline; }
  .mainIndex .traslados {
    font-size: x-large;
    color: white;
    text-align: center;
    background-color: black;
    padding: 2%;
    margin: 2%;
    animation: animacion-traslados 10s  ease-in-out 0s infinite normal; }

@keyframes animacion-traslados {
  0% {
    transform: scale(0.8); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  75% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
  .mainIndex .ultimoArticulo {
    font-family: "Times New Roman" Times serif;
    color: black;
    font-size: 1.5rem;
    text-align: justify; }
    .mainIndex .ultimoArticulo .imgNuestroEquipo {
      margin-bottom: 3rem;
      margin-right: 3rem;
      float: right;
      margin-left: 3rem; }
    .mainIndex .ultimoArticulo .contactanos {
      border: 1px solid black;
      text-align: center; }
  .mainIndex .irInicioPagina {
    display: inline-block;
    font-size: large;
    margin-top: 5 rem; }

.mainNosotros {
  margin: 2%; }
  .mainNosotros .imgCristina,
  .mainNosotros .imgIsabela {
    margin: 2%;
    border-style: double; }
    .mainNosotros .imgCristina:hover, .mainNosotros .imgCristina:hover,
    .mainNosotros .imgIsabela:hover,
    .mainNosotros .imgIsabela:hover {
      transform: scale(0.9, 0.9); }

.mainServicios {
  margin: 2%; }
  .mainServicios .servicios {
    background-color: lightpink;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
    padding-bottom: 1%;
    padding-top: 1%; }
    .mainServicios .servicios .navServicios {
      background-color: #3b3737; }
      .mainServicios .servicios .navServicios ul li a {
        color: white;
        padding: 2px;
        margin: .5rem;
        text-decoration: none; }
        .mainServicios .servicios .navServicios ul li a:hover {
          text-decoration: underline;
          font-size: medium; }
  .mainServicios .irInicioPagina {
    background-color: #e4cbcb;
    display: inline-block;
    font-size: x-large;
    margin-top: 5 rem; }

.mainGaleria .galleryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2%;
  margin-bottom: 5%;
  grid-gap: 2%; }
  .mainGaleria .galleryContainer .galleryImg {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .mainGaleria .galleryContainer .galleryImg:hover {
      width: 125%;
      height: 125%;
      transform: scale(1); }

.mainContacto {
  margin: 2%; }
  .mainContacto .formularioContacto {
    margin: 2%; }

footer {
  z-index: 2;
  text-align: center;
  background-image: url(../imagen/imagen-footer.png);
  grid-area: footerGrid; }
  footer .btnWhatsapp,
  footer .btnFacebook,
  footer .btnInstagram {
    left: 1%;
    width: 8%;
    padding: 2%; }

/* RESPONSIVE  */
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .logo2 {
    display: none; } }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .galleryContainer {
    grid-template-columns: 1fr 1fr 1fr; } }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .galleryContainer {
    grid-template-columns: 1fr 1fr 1fr; } }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .galleryContainer {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem; } }
