* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.tituloDelParrafo, .mainIndex .tituloDelParrafo, .mainNosotros .tituloDelParrafo, .mainServicios .tituloDelParrafo, .mainGaleria .tituloDelParrafo, .mainContacto .tituloDelParrafo {
  font-family: "Times New Roman" Times serif;
  font-size: 2rem;
  margin-top: 1%;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration-line: underline;
  color: #544d4d; }

.underline, .mainIndex article h3, .mainServicios article h3, .mainServicios article h4 {
  text-decoration: underline; }

.irInicioPagina, .mainIndex .irInicioPagina, .mainServicios .irInicioPagina {
  display: inline-block;
  font-size: x-large;
  margin-top: 5 rem;
  padding-left: 2%; }

.logo, .headerGrid .logo1, .headerGrid .logo2 {
  padding: 0;
  width: 20%;
  margin-top: 10%;
  animation: animacion-logos 10s  ease-in-out 0s infinite normal; }

@keyframes animacion-logos {
  0% {
    transform: rotateY(20deg); }
  25% {
    transform: rotateY(50deg); }
  50% {
    transform: rotateY(20deg); }
  75% {
    transform: rotateY(50deg); }
  100% {
    transform: rotateY(20deg); } }

.bodyGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "headerGrid" "mainGrid" "footerGrid"; }

.headerGrid {
  grid-area: headerGrid;
  z-index: 3;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid gainsboro; }
  .headerGrid .tipografiaTitulo {
    font-family: "Franklin Gothic Medium" "Arial Narrow" Arial sans-serif;
    color: black;
    margin-top: 1%;
    padding-right: 0%; }
  .headerGrid .tipografiaSubtitulo {
    font-family: "Roboto" sans-serif;
    color: black;
    margin-left: 2%;
    margin-top: 1.8%; }
  .headerGrid .navbar-nav {
    border-left: 1px solid black;
    margin-top: 0.9%; }
    .headerGrid .navbar-nav .nav-link.active {
      text-decoration: underline;
      background-color: rgba(231, 200, 238, 0.536);
      border-radius: 10px; }
    .headerGrid .navbar-nav .nav-link:hover {
      background-color: rgba(231, 200, 238, 0.536);
      border-radius: 10px; }
    .headerGrid .navbar-nav .nav-link:visited {
      color: #794e3d; }
  .headerGrid .logo1 {
    margin-left: 60%;
    margin-right: 0%; }
  .headerGrid .logo2 {
    margin-left: 2%;
    margin-right: 1%; }

.mainIndex {
  grid-area: mainGrid;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 0;
  background-image: url(../imagen/fondo-main.jpg); }
  .mainIndex article {
    color: black;
    font-size: 1.5rem;
    text-align: justify; }
  .mainIndex .horarios {
    text-align: center; }
  .mainIndex article h3 {
    font-family: "Times New Roman" Times serif;
    font-size: larger;
    text-align: center;
    padding: 2rem; }
  .mainIndex .traslados {
    font-size: x-large;
    color: white;
    text-align: center;
    background-color: black;
    padding: 2%;
    margin: 2%;
    animation: animacion-traslados 10s  ease-in-out 0s infinite normal; }

@keyframes animacion-traslados {
  0% {
    transform: scale(0.8); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  75% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
  .mainIndex .botonWhatsapp {
    text-align: center; }
  .mainIndex .ultimoArticulo {
    font-family: "Times New Roman" Times serif;
    color: black;
    font-size: 1.5rem;
    text-align: justify; }
    .mainIndex .ultimoArticulo .imgNuestroEquipo {
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-right: 3rem;
      float: right;
      margin-left: 3rem; }
    .mainIndex .ultimoArticulo .contactanos {
      border: 1px solid black;
      text-align: center; }

.mainNosotros {
  padding: 2%;
  background-image: url(../imagen/fondo-main.jpg); }
  .mainNosotros h2 {
    margin-left: 5%; }
  .mainNosotros article p {
    font-family: " Arial, Helvetica, sans-serif";
    font-size: larger;
    text-align: justify; }
  .mainNosotros .imgCristina,
  .mainNosotros .imgIsabela,
  .mainNosotros .imgNuestroEquipo {
    margin: 2%;
    border-style: double;
    max-width: 80%; }
    .mainNosotros .imgCristina:hover,
    .mainNosotros .imgIsabela:hover,
    .mainNosotros .imgNuestroEquipo:hover {
      transform: scale(0.9, 0.9); }
  .mainNosotros .botonWhatsapp {
    text-align: center; }

.mainServicios {
  padding: 2%;
  background-image: url(../imagen/fondo-main.jpg); }
  .mainServicios .servicios {
    background-color: lightpink;
    font-family: "Roboto sans-serif";
    text-align: center;
    font-size: large;
    padding-bottom: 1%;
    padding-top: 1%; }
    .mainServicios .servicios .navServicios {
      background-color: #3b3737; }
      .mainServicios .servicios .navServicios ul li a {
        color: white;
        margin-right: 2rem;
        margin-left: 2rem;
        text-decoration: none; }
        .mainServicios .servicios .navServicios ul li a:hover {
          text-decoration: underline; }
  .mainServicios article h3 {
    text-align: center;
    padding: 2%; }
  .mainServicios article h4 {
    text-align: center;
    margin-top: 2%; }
  .mainServicios article p {
    font-family: " Arial, Helvetica, sans-serif";
    font-size: larger;
    text-align: justify;
    padding: 2%; }

.mainGaleria {
  padding: 2%;
  background-image: url(../imagen/fondo-main.jpg); }
  .mainGaleria .galleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 2%;
    margin-bottom: 5%;
    grid-gap: 4%; }
    .mainGaleria .galleryContainer .galeriaItem {
      margin: auto;
      padding: auto; }
      .mainGaleria .galleryContainer .galeriaItem:hover {
        width: 105%;
        height: 105%; }
    .mainGaleria .galleryContainer .galleryImg {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.mainContacto {
  padding: 2%;
  background-image: url(../imagen/fondo-main.jpg); }

footer {
  z-index: 2;
  text-align: center;
  background-image: url(../imagen/imagen-footer.jpg);
  grid-area: footerGrid; }
  footer .btnWhatsapp,
  footer .btnFacebook,
  footer .btnInstagram {
    left: 1%;
    width: 8%;
    padding: 2%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main404 {
  background: url(../imagen/pulp-fiction-john-travolta.gif);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100vh;
  font-family: 'Titillium Web', sans-serif;
  color: #fff; }
  .main404 .travolta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center; }
  .main404 h1 {
    font-size: 17rem;
    margin-top: 13%;
    margin-bottom: 0;
    padding: 0; }
  .main404 p {
    font-family: 'Open Sans', sans-serif;
    padding-top: 0;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1%; }
  .main404 a {
    border-radius: 25px;
    background: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 2%;
    border: 2px solid #fff;
    text-decoration: none; }
    .main404 a:hover {
      background: #fff;
      color: #212121; }

/* RESPONSIVE  */
@media (max-width: 1299.98px) {
  .logo2 {
    display: none; } }

@media (max-width: 1199.98px) {
  .logo2 {
    display: none; } }

@media (max-width: 991.98px) {
  .logo2 {
    display: none; }
  .mainGaleria .galleryContainer {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 15%; } }

@media (max-width: 782px) {
  .tipografiaTitulo {
    margin-right: 10%; }
  .tipografiaSubtitulo {
    margin-right: 10%; }
  .logo2 {
    display: none; }
  .mainGaleria .galleryContainer {
    grid-template-columns: 1fr 1fr 1fr; }
  .navbar {
    margin-left: 10%; } }

@media (max-width: 767.98px) {
  .mainGaleria .galleryContainer {
    grid-template-columns: 1fr  1fr;
    margin-bottom: 40%; } }

@media (max-width: 575.98px) {
  .tipografiaTitulo {
    margin-left: 10%; }
  .mainGaleria .galleryContainer {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    margin-bottom: 40%; } }
