footer{
    z-index: 2;
    text-align:center;   
    background-image: url(../imagen/imagen-footer.jpg);
    grid-area: footerGrid; 


    .btnWhatsapp,
    .btnFacebook,
    .btnInstagram{
            left: 1%; 
            width: 8%; 
            padding: 2%;  

    } 

}

