.mainServicios{
    margin: 2%;

    .tituloDelParrafo{
        font-family:map-get($tipografia,"titulos-parrafos");
        font-size: 2rem;
        margin-top: 1%;
        margin-bottom: 2rem;
        text-align: center;
        text-decoration-line: underline;
        color:$color-titulos-paginas;
        }   

    .servicios{
        background-color:lightpink;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: large;
        padding-bottom: 1%;
        padding-top: 1%;

    .navServicios{
        background-color: rgb(59, 55, 55);
        ul{  
            li{ 
                 a{
                    color:white ;
                    padding: 2px;
                    margin: .5rem;  
                    text-decoration: none;
    
                            &:hover{
                                text-decoration: underline;
                                font-size: medium;
               
                                 }
                     } 
             }
       
        }
    }
    
}
    article{
        h3{
            text-decoration: underline;
            text-align: center;
            margin: 2%;
        }

        h4{
            text-decoration: underline;
        }
        p{
            font-family:map-get($tipografia,"parrafos");
            font-size: larger;
        }
    }

    .irInicioPagina {
        background-color: rgb(228, 203, 203); 
        display: inline-block;   
        font-size: x-large;
        margin-top: 5 rem;
   
    }
}