.mainNosotros{
    @include padding (2%);
    background-image: url(../imagen/fondo-main.jpg);

    .tituloDelParrafo{
        @extend .tituloDelParrafo; 
     }

    h2{
        margin-left: 5%;
    }
    article {
        p{ 
        font-family:map-get($tipografia,"parrafos");
        font-size: larger;
        text-align: justify;
          
        }
    }
    
    .imgCristina,
    .imgIsabela,
    .imgNuestroEquipo{    
        @include margin(2%);
        border-style: double;
        max-width: 80%;
        

                &:hover{
                transform: scale(.9,.9);
   
            }
        }

    .botonWhatsapp{
        text-align: center;
       
    }
}

