.mainGaleria{ 
    @include margen (2%);
    background-image: url(../imagen/fondo-main.jpg);
    
    .tituloDelParrafo{
        @extend .tituloDelParrafo; 
                 
       }
     
    .galleryContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2%; 
    margin-bottom: 5%;
    grid-gap: 2%;

        .galleryImg{
            width: 100%;
            height: 100%; 
            object-fit: cover; 
        
            &:hover{
             width: 125%;
             height: 125%;
             transform: scale(1); 
           
            }
        
        
        }
    
    }

}


