.mainNosotros{
    @include margen (2%);
    background-image: url(../imagen/fondo-main.jpg);

    .tituloDelParrafo{
        @extend .tituloDelParrafo; 
     }

    h2{
        margin-left: 5%;
    }
    article{
        p{
        font-family:map-get($tipografia,"parrafos");
        font-size: larger;
          
        }
    }
    

    .imgCristina,
    .imgIsabela{    
        @include margen(2%);
        border-style: double;
        max-width: 80%;
        

            &:hover,
            &:hover{
                transform: scale(.9,.9);
   
            }
    
        }
    .botonWhatsapp{
        text-align: center;
        max-width: 95%;
    }
}

