.mainServicios{
    @include margen(2%);
    background-image: url(../imagen/fondo-main.jpg);

    

    .tituloDelParrafo{
     @extend .tituloDelParrafo; 
              
    }


    .servicios{
        background-color:lightpink;
        font-family: map-get($tipografia,"servicios");
        text-align: center;
        font-size: large;
        padding-bottom: 1%;
        padding-top: 1%;

    .navServicios{
        background-color: rgb(59, 55, 55);
        ul{  
            li{ 
                 a{
                    color:white ;
                    margin-right: 2rem;
                    margin-left: 2rem;
                    text-decoration: none;
    
                            &:hover{
                                text-decoration: underline;
                                               
                                 }
                     } 
             }
       
        }
    }
    
}
    article{
        h3{
            @extend .underline;
            text-align: center;
            @include margen(2%);
        }

        h4{
            @extend .underline;
            margin-top: 2%;
        }
        p{
            font-family:map-get($tipografia,"parrafos");
            font-size: larger;
        }
    }

  .irInicioPagina{
    @extend .irInicioPagina;
  }
}