.mainIndex{
    grid-area: mainGrid; 
    padding-left: 2%;
    padding-right: 2%; 
    margin-top: 0;
    background-image: url(../imagen/fondo-main.jpg);

    .tituloDelParrafo{
        @extend .tituloDelParrafo; 
                 
       }           

    article{
        font-family:map-get($tipografia,"tipografia-parrafos");
        color: black;
        font-size: 1.5rem;
        text-align: justify; 
    }
   
    .horarios{
        text-align: center;
  
    }

    article h3{
            font-family:map-get($tipografia,"titulos-parrafos");
            font-size: larger;
            text-align: center;
            padding: 2rem;
            @extend .underline;

    }
    .traslados{
            font-size: x-large;
            color: white;
            text-align: center; 
            background-color: black;
            padding: 2%;
            margin: 2%; 
            animation: animacion-traslados 10s  ease-in-out 0s infinite normal; 

            @keyframes animacion-traslados{
                    0%{
                        transform:scale(.8) ;
                        }
                    25%{
                        transform:scale(1) ;
                        }
                    50%{
                        transform:scale(.8) ;
                        }
                    75%{
                       transform:scale(1) ;
                        }
                    100%{
                        transform:scale(.8) ;
                        }

            }

    }
    .botonWhatsapp{
        text-align: center;
        max-width: 90%;       

    }

    .ultimoArticulo{
            font-family:map-get($tipografia,"titulos-parrafos");
            color: black;
            font-size: 1.5rem;
            text-align: justify; 
            
            .imgNuestroEquipo{
                    margin-bottom: 3rem; 
                    margin-right: 3rem;
                    float: right;
                    margin-left: 3rem;
            }


            .contactanos{
                    border: 1px solid black;
                    text-align: center;
            }

    }
    .irInicioPagina {
         @extend .irInicioPagina;
     }

}                   
