$color-hover: rgba(231, 200, 238, 0.536);
$color-titulos-paginas: rgb(84, 77, 77);
$tipografia:(
    "titulo-header":'Franklin Gothic Medium''Arial Narrow'Arial sans-serif,
    "subtitulo-header":'Roboto'sans-serif,
    "titulos-parrafos":'Times New Roman'Times serif,
    "parrafos":' Arial, Helvetica, sans-serif',
    "servicios":'Roboto sans-serif',
);