@import './reset';
@import './variables';
@import'./extend';
@import './mixins';
@import './body';
@import'./header';
@import'./mainIndex';
@import './mainNosotros';
@import './mainServicios';
@import './mainGaleria';
@import './mainContacto';
@import'./footer';
@import'./error';



/* RESPONSIVE  */


@media (max-width: 1299.98px) {
     .logo2{
        display: none;
    } 
}

@media (max-width: 1199.98px) {
   .logo2{
       display: none;
   } 

}


@media (max-width: 991.98px) { 
    .logo2{
        display: none;
    } 
 
    .mainGaleria .galleryContainer{
 
       grid-template-columns: 1fr 1fr 1fr;
       margin-bottom: 15%;
     
   }  
}
 
 @media (max-width: 782px) {
    .tipografiaTitulo{
          margin-right: 10%;
      }
      .tipografiaSubtitulo{
           margin-right: 10%;
      }
      .logo2{
            display: none;
    } 
  
    .mainGaleria .galleryContainer{
        grid-template-columns: 1fr 1fr 1fr;
       
    }
    .navbar{
        margin-left: 10%;
    }
   
  }

@media (max-width: 767.98px) {
    
  .mainGaleria .galleryContainer{
        grid-template-columns: 1fr  1fr;
        margin-bottom: 40%;

    }
   
}


@media (max-width: 575.98px) {
    .tipografiaSubtitulo,
    .tipografiaSubtitulo{
        text-align: center;
    }    
    .mainGaleria .galleryContainer{
        
        margin-bottom: 5rem; 
        margin-bottom: 40%;
   }
}

@media (max-width:444px){
    .tipografiaSubtitulo{
        margin-left: 30% !important;
   }
     
}













