@import './variables';
@import'./extend';
@import './mixins';
@import './body';
@import'./header';
@import'./mainIndex';
@import './mainNosotros';
@import './mainServicios';
@import './mainGaleria';
@import './mainContacto';
@import'./footer';
@import'./error';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESPONSIVE  */


@media (max-width: 1299.98px) {
 
    .logo2{
        display: none;
    } 
   
   
}

@media (max-width: 1199.98px) {
   .logo2{
       display: none;
   } 

}


@media (max-width: 991.98px) { 
    .logo2{
        display: none;
    } 
 
   .galleryContainer{
    display: grid;
       grid-template-columns: 1fr 1fr 1fr;
     
   }
 

}

 @media (max-width: 782px) {
    .tipografiaTitulo{
          margin-right: 10%;
      }
      .tipografiaSubtitulo{
           margin-right: 10%;
      }
      .logo2{
        display: none;
    } 
  
    .galleryContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
    }
    .navbar{
        margin-left: 10%;
    }
  }

@media (max-width: 767.98px) {
   .galleryContainer{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    
    
    }
  
    
    

}


@media (max-width: 575.98px) {

   .galleryContainer{
    display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5rem; 
   }

 
}













